:root {
  --white-color: white;
  --light-blue-color: #666f8d;
  --light-grey-color: #f0f2f5;
  --box-shadow: 0px 1px 3px 0px #19213d1a;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f7f8fa;
}

.left-sidebar-container {
  min-width: 300px;
  height: 100vh;
}

.keyboard-icons {
  border: 1px solid var(--white-color);
  padding: 5px;
  color: var(--light-blue-color);
  background-color: var(--white-color);
  border-radius: 5px;
  font-size: large;
}
.keyboard-icons-active {
  background-color: var(--light-grey-color);
}

.left-sidebar-box-component-wrapper {
  border: 1px solid var(--light-grey-color);
  box-shadow: var(--box-shadow);
  min-height: 50px;
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
  background-color: var(--white-color);
}

.left-sidebar-actions-active {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.inactive-text {
  color: var(--light-blue-color);
}

.chat-history-list-wrapper {
  overflow-y: auto;
  scrollbar-width: none;
  height: 50vh;
  .header-text {
    color: #bac0cc;
  }

  .chat-card {
    color: var(--light-blue-color);
    cursor: pointer;
    height: 30px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
  }

  .chat-card-active {
    background-color: var(--light-grey-color);
  }

  .chat-card:hover {
    background-color: var(--light-grey-color);
  }
}

.chat-context-wrapper {
  width: 100%;
  border: 1px solid var(--light-grey-color);
  height: 95vh;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  background-color: var(--white-color);
}

.chat-context-box {
  border: 1px solid var(--light-grey-color);
  box-shadow: 0px 2px 4px 0px #19213d14;
  border-radius: 8px;
}

.chat-context-input-wrapper {
  min-height: 170px;
  .chat-context-input-box {
    width: 100%;

    .MuiInput-underline:before {
      border-bottom-color: #f0f2f5;
    }

    .MuiInput-underline:hover:before {
      border-bottom-color: #f0f2f5;
    }

    .MuiInput-underline:after {
      border-bottom-color: #eee;
    }
  }

  .chip {
    background-color: #f7f8fa;
    border-radius: 8px;
  }
}

.context-wrapper {
  overflow-y: auto;
  height: 55vh;
  scrollbar-width: none;
}

.context-right-sidebar-wrapper {
  width: 400px;
  border-left: 1px solid #eee;
  font-size: 12px;
}

.active-text {
  color: black;
}

.ordered-list-wrapper {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link-card-wrapper {
  height: 20px;
  border: 1px solid #e3ebff;
  background-color: #e3ebff;
  border-radius: 36px;
}
