* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.keyboard-icons {
  border: 1px solid white;
  padding: 5px;
  color: #666f8d;
  border-radius: 5px;
  font-size: large;
}

.left-sidebar-box-component-wrapper {
  border: 1px solid #f0f2f5;
  box-shadow: 1px 5px 5px #eee;
  min-height: 50px;
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
  background-color: white;
}
